.desktop-1-child {
  position: absolute;
  top: 123px;
  left: 144px;
  background-color: #d9d9d9;
  width: 709px;
  height: 655px;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.hello-welcome-to,
.texts {
  position: absolute;
  display: inline-block;
}
.hello-welcome-to {
  top: 32px;
  left: 371px;
  width: 1023px;
  mix-blend-mode: normal;
}
.texts {
  top: 331px;
  left: 138px;
  font-size: 30px;
  font-family: var(--font-kite-one);
  color: #000;
  text-align: center;
  width: 578px;
  height: 239px;
}
.n-1-icon {
  position: absolute;
  top: 242px;
  left: 896px;
  border-radius: 210px;
  width: 420px;
  height: 543px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon,
.image-4-icon {
  position: absolute;
  top: 4px;
  left: 0;
  width: 38px;
  height: 43px;
  object-fit: cover;
}
.image-3-icon,
.image-4-icon {
  top: 7px;
  left: 54px;
  width: 33px;
}
.image-4-icon {
  top: 0;
  left: 103px;
  width: 50px;
  height: 50px;
}
.image-2-parent {
  position: absolute;
  top: 728px;
  left: 300px;
  width: 153px;
  height: 50px;
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: right;
  font-size: 64px;
  color: #d2c875;
  font-family: var(--font-luckiest-guy);
}
